@charset "utf-8";
/* CSS Document */
body {
	background-color:aliceblue;
	color:cadetblue;
}
h1 {
    text-align: center;
}
#firstp {
	color: darkslateblue;
	line-height: 3;
}
#secondp {
	color:crimson;
 }
p {
	font-family: "Times New Roman",Times, serif;
}
a {
	text-decoration: none;
}
.blue {
	color:darkkhaki
}
.red {
	color:chocolate
}